body {
    /* Custom properties declarations */
    --main-bg-color: rgb(0, 0, 0);
    --main-text-color: rgb(101, 217, 99);
    --main-button-color: rgb(168, 168, 168);
    --main-border-color: rgb(27, 52, 33);
    --main-ship-color:  #4f4f4f;
    --fullscreen-animation-y: -310px;
    --fullscreen-animation-init-x: -360px;
    --fullscreen-animation-end-x: -600px;

    background-color: var(--main-bg-color);

    font-family: monospace;
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    margin: 15px;
    min-width: 375px;
}

.svg-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}


svg {
    display: block;
    justify-content: center;
}

header {
    font-size: xx-large;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--main-border-color);
    margin-bottom: 20px;

    h1 {
        margin: 0;
        margin-top: 20px;
    }
}

#audio-player {
    visibility: hidden;
    position: absolute;
    border-radius: 25px;
    left: -260px;
    width: 300px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.64);
    opacity: 0.5;
    transition: all 0.5s ease, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    z-index: 1000;

    div {
        display: none;
        margin-left: 10px;
    }

    audio {
        border-radius: 25px;
        display: none;
        transition: all 2s ease;
        background-color: white;
    }
}

.audio-control-button-wrapper {
    margin-left: 0;
    display: flex;
    flex-direction: row;    
}

.audio-control-button {
    display: inline-block;
    width: 140px;
    box-shadow: 8px 8px 4px black;
}

#game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    label {
        text-align: center;
    }
}


button {
    background-color: var(--main-button-color);
    padding: 10px 20px;
}

#clear-storage {
    border: 1px solid var(--main-border-color);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    transition: all 0.3s;
}
#clear-storage:hover {
    background-color: var(--main-border-color);
    color: var(--main-text-color);
}

.controls {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
        margin-left: 20px;
    }
}

.reset {
    margin-right: 20px;
}

.guide-close {
    background-color: rgb(82, 7, 7);
    border: none;
    transition: all 0.3s;
}
.guide-close:hover{
    background-color: rgb(122, 58, 58);
}
#clear-storage {
    position: absolute;
    top: 16px;
    right: 10px;
}

.orientation-label {
    min-width: 120px;
    padding: 10px;
    color: white;
    font-size: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 320px;
    height: 320px;
    border: 1px solid var(--main-border-color);
    margin: 10px;
}

.cell {
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--main-button-color);
}

.hit {
    background-color: orange;
}

@keyframes changeSprite {
    100% {
        background-position: -320px -160px;
    }
}

.ship-outline {
    background-color: var(--main-border-color);
}

.ship {
    background-color: var(--main-ship-color);
}

.miss {
    background-color:  #82344f;
}

.log-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.log {
    width: 320px;
    padding: 0;
    margin: 10px;
    white-space: pre-wrap;
    overflow-y: hidden;
    height: 100px;
    border: 1px solid var(--main-border-color);
    
    display: flex;
    justify-content: center;
}

body.guide-visible{

    #audio-player {
        opacity: 0;
        visibility: hidden;
    }

    .page-wrapper {
        filter: grayscale(100);
        filter: blur(3px);
        transition: all 1s;
    }

    .guide {
        visibility: visible;
    }

    .guide-content {
        transform: scale(1);
        transition: transform 0.8s ease;
    }
}

.guide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 999;
    visibility: hidden;
}

.guide-content {
    padding: 16px;
    width: 70vw;
    min-height: 400px;
    box-sizing: content-box;
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-border-color);
    color: var(--main-text-color);
    border-radius: 10px;

    transform: scale(0);
}

article h1 {
    text-align: center;
}

ol> li {
    padding-bottom: 10px;
}

ol> li::first-letter {
    font-size: 150%;
    font-weight: bold;
    float: left;
    margin-right: 1px;
    color: var(--main-text-color);
}

article li ul li::before {
    content: '🚢';
}

.tab {
    overflow: hidden;
    background-color: var(--main-bg-color);

    button {
        border-top: 1px solid var(--main-border-color);
        border-right: 1px solid var(--main-border-color);
        border-bottom: none;
        border-left: 1px solid var(--main-border-color);
        margin-top: 10px;
        color: var(--main-text-color);
        background-color: inherit;
        float: left;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    button:hover {
        background-color: var(--main-border-color);
    }

    button.active {
        background-color: rgb(46, 89, 56);;
    }
}

#leaderboard-table {
    width: 100%;

    td, th {
        border: 2px solid var(--main-border-color);
    }
}

.tab-content {
    min-height: 400px;
    display: none;
    border: 1px solid var(--main-border-color);
    padding: 0px 10px 0px 10px;
}

#fullscreen-wrapper:fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .board {
        width: 600px;
        height: 600px;
    }

    .log {
        width: 600px;
        height: 200px;
        font-size: x-large;
    }

    .hit {
        width: 58px;
        height: 58px;
        background-color: orange;
        /* background-repeat: no-repeat; */
        /* background-position: var(--fullscreen-animation-init-x) var(--fullscreen-animation-y); */
        /* background-size: 1200px 986px; */
        /* image-rendering: pixelated; */
        /* transform: scale(1.875); */
        /* transform-origin: top left; */
        /* animation: changeSprite2 0.7s infinite steps(4); */
    }
}

@media screen and (max-width: 780px) {
    #game-container {
        display: flex;
        flex-direction: column;
    }

    .log-container {
        display: flex;
        flex-direction: column;
    }
}

input:focus {
    outline:none;
    border: 2px solid var(--main-text-color);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip input {
    width: 162px;
    padding: 12px 0px;
}

.tooltip:hover::before {
    content: "Special characters (<, >, '', ') will be replaced";
    visibility: visible;
    opacity: 1;
    width: 400px;
    background-color: var(--main-border-color);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom: 125%;
    left: 10%;
    margin-left: -60px;
    z-index: 1;
    transition: opacity 0.2s ease-in-out;
}

.tooltip::before {
    content: "";
    visibility: hidden;
    opacity: 0;
}